
<section class="splash-screen" data-module="splash">

    <div class="splash-screen__text">
      <p class="h1" id="hero-banner-words">
      <span>Welcome</span>
      <span>to</span>
      <span>No.60</span>
      </p>
    </div>

</section>
