<div id="contact" class="hero-banner hero-banner--contact contact-show is-hidden js-contact-panel">
      {% include 'atoms/icon.twig' with { 'icon': 'tl-6' } %}
      {% include 'atoms/icon.twig' with { 'icon': 'br-0' } %}
      <div class="contact__pop-out">
        <div id="contact-up"></div>
        <div class="container">

          <a href="#" class="contact-cross is-hidden js-contact-cross" data-module="contactshow">
            <i></i>
            <i></i>
          </a>


          <section class="contact-show" data-bg-colour="grey">
              <div class="container">
                <div class="row row--space-evenly">

                <div class="contact-show__column--left-side">
                    <a href="" class="h1" id="contact-words">
                      <span>Join</span>
                      <span>Us</span>
                    </a>
                </div>

                <div class="contact-show__column">
                    <p class="h2" id="contact-words">
                      <span>Want to know more? Get in touch below.</span>
                    </p>
                      <div class="contact-show__cbre">
                          <img class="cbre" src="{{ theme.link }}/assets/images/cbre-no-number.svg">
                        <ul>
                          <li>  Mark Garner </li>
                          <li> <a href="mailto:mark.garner@cbre.com">  mark.garner@cbre.com </a> </li>
                          <li> <a href="tel:07799625236">07799 625 236 </a> </li>
                          <br>
                        </ul>
                        <ul>
                          <li>  Jonathan Cook</li>
                          <li> <a href="mailto:jonathan.cook@cbre.com">  jonathan.cook@cbre.com </a> </li>
                          <li> <a href="tel:07702976062">07702 976 062 </a></li>
                          <br>
                        </ul>
                      </div>

                      <div class="contact-show__cbre">
                          <img class="cbre" src="{{ theme.link }}/assets/images/savills-logo.svg">
                        <ul>
                          <li>  Daniel Barnes </li>
                          <li> <a href="mailto:DBarnes@savills.com">  DBarnes@savills.com </a> </li>
                          <li> <a href="tel:07870186410">07870 186 410 </a> </li>
                          <br>
                        </ul>
                        <ul>
                          <li>  Andrew Cooke</li>
                          <li> <a href="mailto:ACooke@savills.com ">  ACooke@savills.com  </a> </li>
                          <li> <a href="tel:07814991637">07814 991 637 </a></li>
                          <br>
                        </ul>
                      </div>

                    </a>
                </div>

              </div>
            </div>
          </section>





        </div>
      </div>
</div>
