<div class="newsletter">
    <div class="container">
      <div class="row row--justify-center text--center">
        <div class="col col--6@lrg">
          <p class="h3">Want to know more?	<a data-module="contactshow" href="">Get in touch</a></p>
        </div>
      </div>
    </div>
</div>
