
$base-font: "campaign", sans-serif;
$base-font-weight: normal;
$base-bold-font-weight: normal;

$header-font: "Berlingske Serif Bold", serif;
$header-font-weight: normal;

$base-line-height: 1.8;
$header-line-height: 1;

$cta-font-size: 16px;

$small-font-size: 13px;
$medium-font-size: 16px;
$large-font-size: 42px;
$xl-font-size: 82px;

$h1-font-size: 90px;
$h2-font-size: 30px;
$h3-font-size: 38px;
$h4-font-size: 30px;
$h5-font-size: 24px;
