.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: $grey;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  text-align: center;
  opacity: 1;

  &__text {
    img {
      width: 100%;
    }
  }
}

.splash-anim {
  .splash-screen {
    opacity: 0;
    transition: all $speed-2x $easing;
  }
}
