.nav-main {


  @include media(">med") {
    padding: 4px 0;
  }
  @include media("<med") {
    height: 100%;
  }
  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: row;

    @include media("<med") {
      height: 100%;
      flex-direction: column;
    }
  }

  &__item {
    margin: 0 10px;
  }
  &__link {
    color: $black;
    font-size: $small-font-size;
    font-weight: 400;
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 $space-2x;
    position: relative;
    transition: transform $speed $easing;


    @include media("<wide") {
      margin: 0 0;
    }
    @include media("<xl") {
      margin: 0 0;
    }

    @include media("<med") {
      color: $white;
      padding: $space 0;
      margin: 0;
      font-size: 28px;

      &:hover {
        color: darken($white, 20%);
      }
    }

    .icon {
      width: 3rem;
      height: 3rem;
    }

    &.active,
    &:hover {
      &:after {
        transform: scale(1);
      }
      // text-decoration: underline;
    }

    &--home {
      &:after {
        display: none;
      }
    }

    &:hover {
      color: $black;
      transition: transform $speed $easing;
    }
  }
}
